h1 {
    color: darkgreen;
    text-align: center;
    margin-top: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a {
    text-decoration: none;
    color: darkgreen;
}
body {
    background-color: rgb(228, 255, 228);
}
#input {
    text-align: left;
    margin-left: 50px;
    margin-top: 60px;
}
#offset {
    text-align: right;
    margin-right: 50px;
    margin-top: -20px;
}
#canvas {
    text-align: center;
}
.container {
    text-align: center; /* Center-align the content horizontally */
}

.box {
    display: inline-block; /* Display the box as inline-block to center it */
    text-align: left; /* Reset the text alignment inside the box */
    margin: 0 auto; /* Center the box horizontally using auto margins */
}