h1 {
    color: darkgreen;
    text-align: center;
    margin-top: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a {
    text-decoration: none;
    color: darkgreen;
}
body {
    background-color: rgb(228, 255, 228);
}
#input {
    text-align: left;
    margin-left: 80px;
    margin-top: 60px;
}
#offset {
    text-align: left;
    float: right;
    margin-right: 50px;
    margin-top: -50px;
}
#canvas {
    text-align: center;
    margin: 40px 0 0 0;
}

#dict {
    display: inline-block;
    margin: 0px 0px 0 32%;
    text-align: center;
}