h1 {
    color: darkgreen;
    text-align: center;
    margin-top: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a {
    text-decoration: none;
    color: darkgreen;
}
body {
    background-color: rgb(228, 255, 228);
}
#input {
    text-align: left;
    margin-left: 60px;
    margin-top: 60px;
}
#offset {
    text-align: left;
    float: right;
    margin-right: 50px;
    margin-top: -50px;
}
#canvas {
    text-align: center;
    margin: 100px 0 0 0;
}

<<<<<<< HEAD

.container form {
    margin-right: 20px; /* Adjust this margin as needed to separate the forms */
    align-self: flex-start;
}

.dict {
    margin: 0 100px 0 0;
=======
#dict {
    margin: 0 70px 0 0;
>>>>>>> 3d2b98f9ab46fd734a9d1f21a7f1e928cba20c2c
    float: right;
    text-align: right;
}