<!DOCTYPE html>
<html>
<head>
    <title>The Sustainability Scale</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>
    <script src="{{ url_for('static', filename='js/calculations.js') }}"></script>
    <script src="https://code.createjs.com/easeljs-0.8.2.min.js"></script>
    <script>
        function init(net) {
            var stage = new createjs.Stage("scale_stage");
            var container = new createjs.Container();
            stage.addChild(container)

            var bar = new createjs.Shape();
            bar.graphics.beginFill("darkgreen").drawRoundRect(-400, -10, 800, 40, 20);
            container.addChild(bar)

            container.x = 500
            container.y = 460

            container.rotation = net;

            var pivot = new createjs.Shape();
            pivot.graphics.beginFill("darkgreen").drawPolyStar(500, 530, 40, 3, 0, -90);

            stage.addChild(pivot);
            stage.update();
        }
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>
    <script src="{{ url_for('static', filename='js/calculations.js') }}"></script>

</head>
<body onload="init(net=0);">
    <h1>The Sustainability Scale</h1>
    <form id="input" url>
        <label for="input_cost">Cost difference: </label>
        <input type="text" id="input_cost">
        <button type="submit" id="calculate-button">Add</button>

    </form>
    <div id="result-div">
        <span id="result-label">Result: </span>
        <span id="result-value"></span>
    </div>
    <form id="offset">
        <label for="positive_cost">Savings: </label>
        <input type="text" id="savings_times">
        <select id="savings_type">
            <option value="walk">Walk a mile instead of driving</option>
        </select>
        <button type="submit" id="calculate-offset-button">Add</button>
    </form>
    <!--dropdown on other side of elements to add-->
    <div><!--interactive scale with easeljs--></div>
</body>
</html>