<!DOCTYPE html>
<html>
<head>
    <title>The Sustainability Scale</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://code.createjs.com/easeljs-0.8.2.min.js"></script>
    <script>
        function init(net) {
            var stage = new createjs.Stage("scale_stage");
            var container = new createjs.Container();
            stage.addChild(container)

            var bar = new createjs.Shape();
            bar.graphics.beginFill("darkgreen").drawRoundRect(-400, -50, 800, 40, 20);
            container.addChild(bar)

            container.x = 400
            container.y = 205

            container.rotation = net;

            y_diff = 150 * Math.sin(net * Math.PI/180)
            y_diff2 = 250 * Math.sin(net * Math.PI/180)

            var input_cost = new createjs.Shape();
            input_cost.graphics.beginFill("darkgreen").drawRect(150, 85 - y_diff, 100, 30);

            var pos_cost1 = new createjs.Shape();
            pos_cost1.graphics.beginFill("darkgreen").drawRect(550, 75 + y_diff2, 100, 30);

            var pos_cost2 = new createjs.Shape();
            pos_cost2.graphics.beginFill("darkgreen").drawRect(585, 40 + y_diff2, 30, 100);

            var pivot = new createjs.Shape();
            pivot.graphics.beginFill("darkgreen").drawPolyStar(400, 240, 40, 3, 0, -90);

            stage.addChild(pivot);
            stage.addChild(input_cost);
            stage.addChild(pos_cost1);
            stage.addChild(pos_cost2);
            stage.update();
        }
    </script>
</head>
<body onload="init({{data}});">
    <h1><a href="index.html">The Sustainability Scale</a></h1>
    <p>Instructions:<p>
    <p>In the Cost Difference section: Add any extra money you spent purchasing a sustainable item</p>
    <p>In the Savings section: Choose an activity you completed from the drop down menu and the number of times</p>

    <div id="forms">
        <form id="input" method="post" action="{{ url_for('handle_neg_input') }}">
            <label for="input_cost">Cost difference: </label><br>
            <input type="text" id="input_cost" name="input_cost">
            <button type="submit" id="calculate-button" class="button">Add</button>
        </form>
        <form id="offset" method="post" action="{{ url_for('handle_pos_input') }}">
            <label for="positive_cost">Savings: </label><br>
            <select id="savings_type" name="savings_type">
                <option value="walk">Walk a mile instead of driving</option>
                <option value="boba">Skip a Boba/Starbucks</option>
                <option value="water">Hydrate with a cup of tap water instead of bottled water</option>
                <option value="cook">Cook a meal at home instead of eating out</option>
            </select><br><br>
            <label for="savings_times">Amount </label>
            <input type="text" id="savings_times" name="savings_times">
            <button type="submit" id="calculate-offset-button" class="button">Add</button>
        </form>
    </div>
    <br>
    <br>
    <div id="dict">
        <table>
            <tr>
                <th>Activity</th>
                <th>Count</th>
                <th>Money Saved</th>
            </tr>
            <tr>
                <td>Miles walked instead of driving</td>
                <td>{{ right_side_dict['walk']['Num'] }}</td>
                <td>${{ right_side_dict['walk']['Money'] }}</td>
            </tr>
            <tr>
                <td>Number of Bobas/Starbucks saved</td>
                <td>{{ right_side_dict['boba']['Num'] }}</td>
                <td>${{ right_side_dict['boba']['Money'] }}</td>
            </tr>
            <tr>
                <td>Cups of tap/filtered water instead of bottled water</td>
                <td>{{ right_side_dict['water']['Num'] }}</td>
                <td>${{ right_side_dict['water']['Money'] }}</td>
            </tr>
            <tr>
                <td>Meals cooked instead of eating out</td>
                <td>{{ right_side_dict['cook']['Num'] }}</td>
                <td>${{ right_side_dict['cook']['Money'] }}</td>
            </tr>
            <tr>
                <td>Total money spent:</td>
                <td></td>
                <td>${{ total_spent }}</td>
            </tr>
            <tr>
                <td>Total money saved:</td>
                <td></td>
                <td>${{ total_saved }}</td>
            </tr>
            <tr>
                <th>Net savings:</th>
                <td></td>
                <th>${{ net }}</th>
            </tr>
        </table>
    </div>
    <br>
    <div id="canvas">
    <canvas id="scale_stage" width="800" height="350"></canvas>
    </div>
</body>
</html>